body {
    background-color: #F3F3F3;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #BBBBBB;
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form h1 {
    color: #444444;
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  form input[type="text"],
  form input[type="date"],
  form input[type="time"] {
    background-color: #F3F3F3;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #BBBBBB;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #444444;
  }
  
  form input[type="submit"] {
    background-color: #009900;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #007700;
  }
  